<?xml version="1.0"?>
<!--
/**
 * Copyright © Magmodules.eu. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Magmodules_Channable::channable"
             title="Channable"
             module="Magmodules_Channable"
             sortOrder="200"
             resource="Magmodules_Channable::general"
        />
        <add id="Magmodules_Channable::connection"
             title="Connection"
             module="Magmodules_Channable"
             sortOrder="1"
             parent="Magmodules_Channable::channable"
             resource="Magmodules_Channable::general"
        />
        <add id="Magmodules_Channable::channable_orders"
             title="Processed Orders"
             module="Magmodules_Channable"
             sortOrder="2"
             parent="Magmodules_Channable::connection"
             resource="Magmodules_Channable::general_orders"
             action="channable/order/index"
        />
        <add id="Magmodules_Channable::channable_returns"
             title="Processed Returns"
             module="Magmodules_Channable"
             sortOrder="3"
             parent="Magmodules_Channable::connection"
             resource="Magmodules_Channable::general_returns"
             action="channable/returns/index"
        />
        <add id="Magmodules_Channable::channable_item"
             title="Product Updates"
             module="Magmodules_Channable"
             sortOrder="4"
             parent="Magmodules_Channable::connection"
             resource="Magmodules_Channable::general_item"
             action="channable/item/index"
        />
        <add id="Magmodules_Channable::configuration"
             title="Configuration"
             module="Magmodules_Channable"
             sortOrder="200"
             parent="Magmodules_Channable::channable"
             resource="Magmodules_Channable::general"
        />
        <add id="Magmodules_Channable::config_general"
             title="General"
             module="Magmodules_Channable"
             sortOrder="10"
             parent="Magmodules_Channable::configuration"
             resource="Magmodules_Channable::config_general"
             action="admin/system_config/edit/section/channable_general"
        />
        <add id="Magmodules_Channable::config_feed"
             title="Product Feed"
             module="Magmodules_Channable"
             sortOrder="20"
             parent="Magmodules_Channable::configuration"
             resource="Magmodules_Channable::config_feed"
             action="admin/system_config/edit/section/channable_feed"
        />
        <add id="Magmodules_Channable::config_itemupdates"
             title="Product Updates"
             module="Magmodules_Channable"
             sortOrder="30"
             parent="Magmodules_Channable::configuration"
             resource="Magmodules_Channable::config_itemupdates"
             action="admin/system_config/edit/section/channable_itemupdates"
        />
        <add id="Magmodules_Channable::config_order"
             title="Orders"
             module="Magmodules_Channable"
             sortOrder="40"
             parent="Magmodules_Channable::configuration"
             resource="Magmodules_Channable::config_order"
             action="admin/system_config/edit/section/channable_order"
        />
        <add id="Magmodules_Channable::config_returns"
             title="Returns"
             module="Magmodules_Channable"
             sortOrder="50"
             parent="Magmodules_Channable::configuration"
             resource="Magmodules_Channable::config_returns"
             action="admin/system_config/edit/section/channable_returns"
        />
    </menu>
</config>
