<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Magmodules_Channable::channable"
             title="Channable"
             module="Magmodules_Channable"
             sortOrder="200"
             parent="Magento_Backend::marketing"
             resource="Magmodules_Channable::general"
        />
        <!--
        <add id="Magmodules_Channable::channable_config"
             title="Configuration"
             module="Magmodules_Channable"
             sortOrder="1"
             parent="Magmodules_Channable::channable"
             resource="Magmodules_Channable::config"
             action="admin/system_config/edit/section/magmodules_channable"
        />
        -->
        <add id="Magmodules_Channable::channable_item"
             title="Item Updates"
             module="Magmodules_Channable"
             sortOrder="2"
             parent="Magmodules_Channable::channable"
             resource="Magmodules_Channable::general_item"
             action="channable/item/index"
        />
    </menu>
</config>