<?xml version="1.0"?>
<!--
/**
 * Copyright © 2017 Magmodules.eu. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="magmodules" translate="label" sortOrder="500">
            <label>Magmodules</label>
        </tab>
        <section id="magmodules_channable" translate="label" type="text" sortOrder="100" showInDefault="1"
                 showInWebsite="1" showInStore="1">
            <label>Channable: Feed</label>
            <tab>magmodules</tab>
            <resource>Magmodules_Channable::feed</resource>
            <group id="branding" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="1"
                   showInStore="1">
                <label>Branding</label>
                <frontend_model>Magmodules\Channable\Block\Adminhtml\Magmodules\Header</frontend_model>
            </group>
            <group id="general" translate="label" type="text" sortOrder="2" showInDefault="1" showInWebsite="1"
                   showInStore="1">
                <label>General</label>
                <field id="version" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="1"
                       showInStore="1">
                    <label>Version</label>
                    <frontend_model>Magmodules\Channable\Block\Adminhtml\Magmodules\Version</frontend_model>
                </field>
                <field id="enable" translate="label" type="select" sortOrder="11" showInDefault="1" showInWebsite="1"
                       showInStore="1">
                    <label>Enable</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="limit" translate="label" type="text" sortOrder="12" showInDefault="1" showInWebsite="1"
                       showInStore="1">
                    <label>Products per page</label>
                    <depends>
                        <field id="enable">1</field>
                    </depends>
                    <comment>Limits the amount of product exported to Channable per run. This setting wil not limit the total products sent to Channable, but will lower the load.</comment>
                </field>
            </group>
            <group id="data" translate="label" type="text" sortOrder="3" showInDefault="1" showInWebsite="1"
                   showInStore="1">
                <label>Product Data</label>
                <comment>In this section you will see listed all of the standard attributes needed for the Channable Connect. In order to prevent some errors please fill in as many attributes as you can, this will also improve the usability of your data on the Channable platform.</comment>
                <field id="heading_general" translate="label comment" type="text" sortOrder="1" showInDefault="1"
                       showInWebsite="1" showInStore="1">
                    <label>General Fields</label>
                    <frontend_model>Magmodules\Channable\Block\Adminhtml\Magmodules\Heading</frontend_model>
                    <comment>Connect the right attributes for the name and description to export the values to the Channable feed. The description will be truncated to a maximum of 5000 characters and stripped from html.</comment>
                </field>
                <field id="name_attribute" translate="label" type="select" sortOrder="2" showInDefault="1"
                       showInWebsite="1" showInStore="1">
                    <label>Name</label>
                    <source_model>Magmodules\Channable\Model\System\Config\Source\Attributes</source_model>
                </field>
                <field id="description_attribute" translate="label" type="select" sortOrder="3" showInDefault="1"
                       showInWebsite="1" showInStore="1">
                    <label>Description</label>
                    <source_model>Magmodules\Channable\Model\System\Config\Source\Attributes</source_model>
                </field>
                <field id="brand_attribute" translate="label" type="select" sortOrder="4" showInDefault="1"
                       showInWebsite="1" showInStore="1">
                    <label>Brand</label>
                    <source_model>Magmodules\Channable\Model\System\Config\Source\Attributes</source_model>
                </field>
                <field id="ean_attribute" translate="label" type="select" sortOrder="5" showInDefault="1"
                       showInWebsite="1" showInStore="1">
                    <label>EAN / GTIN</label>
                    <source_model>Magmodules\Channable\Model\System\Config\Source\Attributes</source_model>
                </field>
                <field id="heading_images" translate="label comment" type="text" sortOrder="6" showInDefault="1"
                       showInWebsite="1" showInStore="1">
                    <label>Image Source</label>
                    <frontend_model>Magmodules\Channable\Block\Adminhtml\Magmodules\Heading</frontend_model>
                    <comment>Select Image Source</comment>
                </field>
                <field id="image" translate="label" type="select" sortOrder="7" showInDefault="1" showInWebsite="1"
                       showInStore="1">
                    <label>Source</label>
                    <source_model>Magmodules\Channable\Model\System\Config\Source\ImageSource</source_model>
                </field>
                <field id="heading_extra" translate="label comment" type="text" sortOrder="20" showInDefault="1"
                       showInWebsite="1" showInStore="1">
                    <label>Miscellaneous fields</label>
                    <frontend_model>Magmodules\Channable\Block\Adminhtml\Magmodules\Heading</frontend_model>
                    <comment>You are recommended to provide the following product information for each unique item you submit if it exists, is relevant, and if the information fits into the accepted values for the following detailed product attributes.</comment>
                </field>
                <field id="sku_attribute" translate="label" type="select" sortOrder="21" showInDefault="1"
                       showInWebsite="1" showInStore="1">
                    <label>SKU</label>
                    <source_model>Magmodules\Channable\Model\System\Config\Source\Attributes</source_model>
                </field>
                <field id="size_attribute" translate="label" type="select" sortOrder="22" showInDefault="1"
                       showInWebsite="1" showInStore="1">
                    <label>Size</label>
                    <source_model>Magmodules\Channable\Model\System\Config\Source\Attributes</source_model>
                </field>
                <field id="color_attribute" translate="label" type="select" sortOrder="23" showInDefault="1"
                       showInWebsite="1" showInStore="1">
                    <label>Color</label>
                    <source_model>Magmodules\Channable\Model\System\Config\Source\Attributes</source_model>
                </field>
                <field id="material_attribute" translate="label" type="select" sortOrder="24" showInDefault="1"
                       showInWebsite="1" showInStore="1">
                    <label>Material</label>
                    <source_model>Magmodules\Channable\Model\System\Config\Source\Attributes</source_model>
                </field>
                <field id="gender_attribute" translate="label" type="select" sortOrder="25" showInDefault="1"
                       showInWebsite="1" showInStore="1">
                    <label>Gender</label>
                    <source_model>Magmodules\Channable\Model\System\Config\Source\Attributes</source_model>
                </field>
            </group>
            <group id="advanced" translate="label" type="text" sortOrder="4" showInDefault="1" showInWebsite="1"
                   showInStore="1">
                <label>Advanced Options</label>
                <comment>We recommend adding as many attributes as possible to the Channable feed as this will greatly improve the quality of your data. In this section you can add extra fields, set the right inventory data and configure the fallback on your configurable &amp; grouped products.</comment>
                <field id="heading_extra" translate="label comment" type="text" sortOrder="1" showInDefault="1"
                       showInWebsite="1" showInStore="1">
                    <label>Extra Fields</label>
                    <frontend_model>Magmodules\Channable\Block\Adminhtml\Magmodules\Heading</frontend_model>
                    <comment>You can add custom fields with your attributes to enrich your data in Channable. Click the Add button to add an attribute with a custom fieldname as reference.</comment>
                </field>
                <field id="extra_fields" translate="label" type="select" sortOrder="2" showInDefault="1"
                       showInWebsite="1" showInStore="1">
                    <label>Extra Fields</label>
                    <frontend_model>Magmodules\Channable\Block\Adminhtml\System\Config\Form\Field\ExtraFields</frontend_model>
                    <backend_model>Magmodules\Channable\Model\Config\Backend\Serialized\ExtraFields</backend_model>
                </field>
                <field id="heading_stock" translate="label comment" type="text" sortOrder="3" showInDefault="1"
                       showInWebsite="1" showInStore="1">
                    <label>Inventory Data</label>
                    <frontend_model>Magmodules\Channable\Block\Adminhtml\Magmodules\Heading</frontend_model>
                    <comment>Select the inventory data that you want to export to Channable using the multi-select below.</comment>
                </field>
                <field id="inventory" translate="label" type="select" sortOrder="4" showInDefault="1" showInWebsite="1"
                       showInStore="1">
                    <label>Enabled</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="inventory_fields" translate="label" type="multiselect" sortOrder="5" showInDefault="1"
                       showInWebsite="1" showInStore="1">
                    <label>Fields</label>
                    <source_model>Magmodules\Channable\Model\System\Config\Source\Inventory</source_model>
                    <depends>
                        <field id="inventory">1</field>
                    </depends>
                </field>
                <field id="heading_config" translate="label comment" type="text" sortOrder="20" showInDefault="1"
                       showInWebsite="1" showInStore="1">
                    <label>Configurable products</label>
                    <frontend_model>Magmodules\Channable\Block\Adminhtml\Magmodules\Heading</frontend_model>
                    <comment>When your using configurable products the simple products will be shown in the feed. You can choose to pull the information from the parent products. Select the fall-back data for the configurable products in the multiple-select box below.</comment>
                </field>
                <field id="relations" translate="label" type="select" sortOrder="21" showInDefault="1" showInWebsite="1"
                       showInStore="1">
                    <label>Enabled</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="parent_atts" translate="label" type="multiselect" sortOrder="22" showInDefault="1"
                       showInWebsite="1" showInStore="1">
                    <label>Use Parent Product Data for Simple Products</label>
                    <source_model>Magmodules\Channable\Model\System\Config\Source\ParentAttributes</source_model>
                    <depends>
                        <field id="relations">1</field>
                    </depends>
                </field>
                <field id="heading_Delivery" translate="label comment" type="text" sortOrder="30" showInDefault="1"
                       showInWebsite="1" showInStore="1">
                    <label>Delivery Time</label>
                    <frontend_model>Magmodules\Channable\Block\Adminhtml\Magmodules\Heading</frontend_model>
                    <comment>Set the delivery time for your products using the table below or use your own attribute in the extra field table.</comment>
                </field>
                <field id="delivery_time" translate="label" type="select" sortOrder="31" showInDefault="1"
                       showInWebsite="1" showInStore="1">
                    <label>Delivery Time</label>
                    <frontend_model>Magmodules\Channable\Block\Adminhtml\System\Config\Form\Field\DeliveryTime</frontend_model>
                    <backend_model>Magmodules\Channable\Model\Config\Backend\Serialized\DeliveryTime</backend_model>
                </field>
            </group>
            <group id="filter" translate="label" type="text" sortOrder="5" showInDefault="1" showInWebsite="1"
                   showInStore="1">
                <label>Filter Options</label>
                <comment>This option allows you to include/exclude products from the Channable feed based on the product visibility or stock information.</comment>
                <field id="heading_visibility" translate="label comment" type="text" sortOrder="1" showInDefault="1"
                       showInWebsite="1" showInStore="1">
                    <label>Filter on Visibility</label>
                    <frontend_model>Magmodules\Channable\Block\Adminhtml\Magmodules\Heading</frontend_model>
                    <comment>Include or exclude products based on the visibility.</comment>
                </field>
                <field id="visbility_enabled" translate="label" type="select" sortOrder="3" showInDefault="1"
                       showInWebsite="1" showInStore="1">
                    <label>Enable</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="visbility" translate="label" type="multiselect" sortOrder="4" showInDefault="1"
                       showInWebsite="1" showInStore="1">
                    <label>Only add products with the following Visibility</label>
                    <source_model>Magmodules\Channable\Model\System\Config\Source\ProductVisibility</source_model>
                    <comment>Add products with the selected visibility.</comment>
                    <depends>
                        <field id="visbility_enabled">1</field>
                    </depends>
                </field>
                <field id="heading_category" translate="label comment" type="text" sortOrder="10" showInDefault="1"
                       showInWebsite="1" showInStore="1">
                    <label>Filter by Category</label>
                    <frontend_model>Magmodules\Channable\Block\Adminhtml\Magmodules\Heading</frontend_model>
                    <comment>Include or exclude products based on the category.</comment>
                </field>
                <field id="category_enabled" translate="label" type="select" sortOrder="11" showInDefault="1"
                       showInWebsite="1" showInStore="1">
                    <label>Enable</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="category_type" translate="label" type="select" sortOrder="12" showInDefault="1"
                       showInWebsite="1" showInStore="1">
                    <label>Type of filter</label>
                    <source_model>Magmodules\Channable\Model\System\Config\Source\CategoryTypeList</source_model>
                    <depends>
                        <field id="category_enabled">1</field>
                    </depends>
                </field>
                <field id="category" translate="label" type="multiselect" sortOrder="13" showInDefault="1"
                       showInWebsite="1" showInStore="1">
                    <label>Category</label>
                    <source_model>Magmodules\Channable\Model\System\Config\Source\CategoryList</source_model>
                    <depends>
                        <field id="category_enabled">1</field>
                    </depends>
                </field>
                <field id="heading_stock" translate="label comment" type="text" sortOrder="20" showInDefault="1"
                       showInWebsite="1" showInStore="1">
                    <label>Exclude Out of Stock</label>
                    <frontend_model>Magmodules\Channable\Block\Adminhtml\Magmodules\Heading</frontend_model>
                    <comment>Exclude products that are out of stock in your store.</comment>
                </field>
                <field id="stock" translate="label" type="select" sortOrder="21" showInDefault="1" showInWebsite="1"
                       showInStore="1">
                    <label>Enable</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="heading_filters" translate="label comment" type="text" sortOrder="30" showInDefault="1"
                       showInWebsite="1" showInStore="1">
                    <label>Advanced Filters</label>
                    <frontend_model>Magmodules\Channable\Block\Adminhtml\Magmodules\Heading</frontend_model>
                </field>
                <field id="filters" translate="label" type="select" sortOrder="31" showInDefault="1" showInWebsite="1"
                       showInStore="1">
                    <label>Enabled</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="filters_data" translate="label" type="select" sortOrder="32" showInDefault="1"
                       showInWebsite="1" showInStore="1">
                    <label>Filter Conditions</label>
                    <frontend_model>Magmodules\Channable\Block\Adminhtml\System\Config\Form\Field\Filters</frontend_model>
                    <backend_model>Magmodules\Channable\Model\Config\Backend\Serialized\Filters</backend_model>
                    <depends>
                        <field id="filters">1</field>
                    </depends>
                </field>
            </group>
            <group id="feeds" translate="label" type="text" sortOrder="7" showInDefault="1" showInWebsite="1"
                   showInStore="1">
                <label>Channable - Feeds</label>
                <frontend_model>Magmodules\Channable\Block\Adminhtml\System\Config\Form\Feeds</frontend_model>
            </group>
        </section>
        <section id="magmodules_channable_marketplace" translate="label" type="text" sortOrder="101" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>Channable: Orders</label>
            <tab>magmodules</tab>
            <resource>Magmodules_Channable::marketplace</resource>
            <group id="branding" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="1"
                   showInStore="1">
                <label>Branding</label>
                <frontend_model>Magmodules\Channable\Block\Adminhtml\Magmodules\Header</frontend_model>
            </group>
            <group id="general" translate="label" type="text" sortOrder="2" showInDefault="1" showInWebsite="0" showInStore="0">
                <label>General</label>
                <comment>Connect your store with Channable Marketplaces using the Channable Marketplace API, you can configure the Order Import settings and the Item Update settings per Store View.</comment>
                <field id="version" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Version</label>
                    <frontend_model>Magmodules\Channable\Block\Adminhtml\Magmodules\Version</frontend_model>
                </field>
                <field id="enable" translate="label" type="select" sortOrder="2" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Enable</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
            </group>
            <group id="order" translate="label" type="text" sortOrder="3" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Order Import</label>
                <comment>Configure the settings on how to import the orders from the Channable Marketplaces into your Magento store. </comment>
                <field id="heading_shipment" translate="label comment" type="text" sortOrder="20" showInDefault="1"
                       showInWebsite="1" showInStore="1">
                    <label>Shipping Method</label>
                    <frontend_model>Magmodules\Channable\Block\Adminhtml\Magmodules\Heading</frontend_model>
                    <comment>Select the shipping method that you want to use on the order import.</comment>
                </field>
                <field id="shipping_method" translate="label" type="select" sortOrder="21" showInDefault="1" showInWebsite="1"
                       showInStore="1">
                    <label>Default Shipping Method</label>
                    <source_model>Magmodules\Channable\Model\System\Config\Source\ShippingMethods</source_model>
                </field>
                <field id="shipping_method_fallback" translate="label" type="select" sortOrder="22" showInDefault="1" showInWebsite="1"
                       showInStore="1">
                    <label>Fallback for Shipping Method</label>
                    <source_model>Magmodules\Channable\Model\System\Config\Source\ShippingMethods</source_model>
                </field>
                <field id="heading_customer" translate="label comment" type="text" sortOrder="30" showInDefault="1"
                       showInWebsite="1" showInStore="1">
                    <label>Customers</label>
                    <frontend_model>Magmodules\Channable\Block\Adminhtml\Magmodules\Heading</frontend_model>
                    <comment>Select if you want to add customers to your Magento store.</comment>
                </field>
                <field id="import_customer" translate="label" type="select" sortOrder="31" showInDefault="1" showInWebsite="1"
                       showInStore="1">
                    <label>Import Customers</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="customers_group" translate="label" type="select" sortOrder="32" showInDefault="1" showInWebsite="1"
                       showInStore="1">
                    <label>Customer Group</label>
                    <source_model>Magmodules\Channable\Model\System\Config\Source\CustomerGroups</source_model>
                    <depends>
                        <field id="import_customer">1</field>
                    </depends>
                </field>
                <field id="heading_customer_address" translate="label" type="text" sortOrder="40" showInDefault="1" showInWebsite="1"
                       showInStore="1">
                    <label>Address &amp; Invoice</label>
                    <frontend_model>Magmodules\Channable\Block\Adminhtml\Magmodules\Heading</frontend_model>
                    <comment>Configure the way the addresses and invoices are handled in the order import.</comment>
                </field>
                <field id="seperate_housenumber" translate="label" type="select" sortOrder="41" showInDefault="1" showInWebsite="1"
                       showInStore="1">
                    <label>Separate housenumber</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment><![CDATA[If you use the second 'street' field as a separate house-number field, enable this option.]]></comment>
                </field>
                <field id="invoice_order" translate="label" type="select" sortOrder="42" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Create invoice for order</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="heading_log" translate="label" type="text" sortOrder="50" showInDefault="1" showInWebsite="1"
                       showInStore="1">
                    <label>Logging</label>
                    <frontend_model>Magmodules\Channable\Block\Adminhtml\Magmodules\Heading</frontend_model>
                    <comment>Enable the Order Logging option to log all the incoming orders from the connected Marketplaces.</comment>
                </field>
                <field id="log" translate="label" type="select" sortOrder="51" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Enable</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>Write errors and orders to the Channable log file located in /var/log/channable.log</comment>
                </field>
                <field id="heading_item_stores" translate="label comment" type="text" sortOrder="60" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Webhooks</label>
                    <frontend_model>Magmodules\Channable\Block\Adminhtml\Magmodules\Heading</frontend_model>
                    <comment>Copy and paste the Webhook URL to configure your Magento Store in your Channable Marketplace account. Make sure that you copy the complete URL as the URL is partly hidden because of the length.</comment>
                </field>
                <field id="item_stores" translate="label" type="text" sortOrder="61" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Stores</label>
                    <frontend_model>Magmodules\Channable\Block\Adminhtml\System\Config\Form\OrderStores</frontend_model>
                </field>
            </group>
            <group id="item" translate="label" type="text" sortOrder="4" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Item Update</label>
                <comment>In order to use the Channable Item API, you have to set the API settings on the store level where you want to import the orders from Channable. The settings are only visible when you have the right store-view selected through the store switcher on the top left.</comment>
                <field id="enable" translate="label" type="select" sortOrder="1" showInDefault="0" showInWebsite="0" showInStore="1">
                    <label>Enable</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="webhook" translate="label" type="text" sortOrder="2" showInDefault="0" showInWebsite="0" showInStore="1">
                    <label>Webhook</label>
                </field>
                <field id="heading_settings" translate="label comment" type="text" sortOrder="1" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Settings</label>
                    <frontend_model>Magmodules\Channable\Block\Adminhtml\Magmodules\Heading</frontend_model>
                    <comment>Configure the Item update with the values below, we highly recommend to check your Magento cron job functionality to make sure all your items are updated frequently.</comment>
                </field>
                <field id="cron" translate="label" type="select" sortOrder="2" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Cron</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="cron_frequency" translate="label" type="select" sortOrder="3" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Frequency</label>
                    <source_model>Magmodules\Channable\Model\System\Config\Source\CronFrequency</source_model>
                    <backend_model>Magmodules\Channable\Model\Config\Backend\Cron</backend_model>
                    <depends>
                        <field id="cron">1</field>
                    </depends>
                </field>
                <field id="custom_frequency" translate="label" type="text" sortOrder="4" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Custom Frequency</label>
                    <depends>
                        <field id="cron">1</field>
                        <field id="cron_frequency">custom</field>
                    </depends>
                </field>
                <field id="limit" translate="label" type="text" sortOrder="5" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Products per run</label>
                    <comment>Set a limit on the number of products for each update.</comment>
                </field>
                <field id="log" translate="label" type="select" sortOrder="6" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Log Calls</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>Write all the calls and updates to the Channable log file located in /var/log/channable.log</comment>
                </field>
                <field id="heading_item_stores" translate="label comment" type="text" sortOrder="20" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Enabled Stores</label>
                    <frontend_model>Magmodules\Channable\Block\Adminhtml\Magmodules\Heading</frontend_model>
                    <comment>You can only activate and or set the Webhook per specific Store View. You can select the Store Views using the dropdown on the top of the left.</comment>
                </field>
                <field id="item_stores" translate="label" type="text" sortOrder="21" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Stores</label>
                    <frontend_model>Magmodules\Channable\Block\Adminhtml\System\Config\Form\ItemStores</frontend_model>
                </field>
            </group>
        </section>
    </system>
</config>