<?xml version="1.0"?>
<!--
/**
 * Copyright © Magmodules.eu. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="channable" translate="label" sortOrder="500" class="channable-tab">
            <label>Channable</label>
        </tab>
        <include path="Magmodules_Channable::system/general.xml"/>
        <include path="Magmodules_Channable::system/feed.xml"/>
        <include path="Magmodules_Channable::system/itemupdates.xml"/>
        <include path="Magmodules_Channable::system/order.xml"/>
        <include path="Magmodules_Channable::system/returns.xml"/>
        <include path="Magmodules_Channable::system/payment.xml"/>
        <include path="Magmodules_Channable::system/carriers.xml"/>
    </system>
</config>
